@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }

img {
    width: 600px;
  }

button {
    background: #eee;
    border-radius: 8px;
    border: none;
    font-family: Roboto, sans-serif;
    padding: 8px 20px;
  }

input {
    border-radius: 16px;
    border: 1px solid #ddd;
    margin-bottom: 16px;
    padding: 8px 24px;
    width: 400px;
  }
li {
    list-style: none;
  }
ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
  }
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
a {
    color: grey;
    text-decoration: none;
  }
.header a {
    font-weight: 900;
  }
.footer a {
    font-weight: 700;
  }
.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: auto;
  }

.footer {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 15px;
  }
